* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #005f99;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ddd;
}

.user {
    display: flex;
    align-items: center;
    color: white;
}

.user span {
    margin-right: 10px;
}

.user a {
    text-decoration: none;
    color: #ddd;
}

.user a:hover {
    color: #fff;
}


.guest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    background-color: #ffffff;
    padding: 30px;
    margin-left: 250px;
    margin-top: 80px;
    border: 2px solid #cccccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
}

.form-container {
    flex: 1;
    margin-left: 20px;
}

h2 {
    background-color: #2c2e2b;
    color: rgb(255, 253, 253);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}



input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    font-family: Arial, sans-serif;
    height: 100px;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    font-size: 14px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    padding: 5px 0;
    font-size: 0.9em;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .social a {
    margin-right: 10px;
    text-align: center;
}

footer .social img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

footer .bottomlinks a {
    color: yellow;
}

footer .bottomlinks p {
    text-align: center;
    font-size: 1em;
}

.subscribe {
    max-width: 400px;
    margin: 20px auto;
    padding: 1px;
    background: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.subscribe h1 {
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subscribe button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe button:hover {
    background-color: #0056b3;
}

#responseMessage {
    text-align: center;
    margin-top: 10px;
    color: #333;
}