/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #005f99;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 75px;
    height: 75px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #ddd;
}
/* Simple blue button */
a .booking-btn {
    background-color: #007bff; /* Blue color */
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a .booking-btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}


.user {
    display: flex;
    align-items: center;
    color: white;
}

.user span {
    margin-right: 10px;
}

.user a {
    text-decoration: none;
    color: #ddd;
}

.user a:hover {
    color: #fff;
}


/* FAQ Section */
.faq {
    padding: 50px 0;
    background-color: #fff;
}

.faq h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #005f99;
}

.faq-item {
    margin-bottom: 20px;
}

.faq-item h2 {
    font-size: 1.5em;
    color: #005f99;
    margin-bottom: 10px;
}

.faq-item p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #333;
}

.faq-item a {
    color: #005f99;
    text-decoration: underline;
}

.faq-item a:hover {
    color: #003f66;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer .social img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  
  footer .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .subscribe form {
    display: flex;
    margin-top: 10px;
  }
  
  footer .subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  footer .subscribe button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
  }
  
  footer .bottomlinks {
    text-align: center;
  }
  
  footer .bottomlinks a {
    color: white;
  }
  
  footer .bottomlinks a:hover {
    text-decoration: underline;
  }
  