* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the page takes up at least full viewport height */
}


header {
    background-color: #f0f0f0;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold; 
   
}
#logoimage{
    width: 75px; 
    height: 75px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
}

.user span {
    margin-right: 10px;
}


main {
    padding: 60px;
    text-align: center;
}

main h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.terms-text {
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.8;
    
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: white;
    margin-right: 10px; 
    text-align: center; 
} 
.social img {
    width: 30px; 
    height: 30px;
}

.subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px; 
} 
.bottomlinks a{ 
    
        color:yellow;
     }
.bottomlinks p {
    text-align: center;
}
   