/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif; /* Choose a suitable font */
}

.container {
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #f0f0f0;
    padding: 15px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold; 
   
}
#logoimage{
    width: 75px; 
    height: 75px;
}
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.user {
    display: flex;
    align-items: center;
}

.user span {
    margin-right: 10px;
}

/* Hero Section */
.hero {
    background-color: #333; /* Placeholder color */
    color: white;
    text-align: center;
    padding: 100px 0; /* Adjust as needed */
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.search input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.search button {
    padding: 10px 15px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}





/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social a {
    color: white;
    margin-right: 10px; 
    text-align: center; 
} 
.social img {
    width: 30px; 
    height: 30px;
}

.subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px; 
} 


.subscribe button {
    padding: 10px;
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.bottomlinks a{ 
    
        color:yellow;
     }
.bottomlinks p {
    text-align: center;
}
   
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.user-section, .info-section, .password-section {
    margin-bottom: 20px;
}
.user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-section img {
    border-radius: 50%;
    max-width: 100px;
}
.user-section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.info-section, .password-section {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}
.info-section input, .password-section input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.password-section button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
